.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.material-icons{
  margin: 5px;
}

.ribbon{
  position: absolute;
  height: 42px;
  background-color: rgb(85, 199, 81);
  overflow: hidden;
}

.ribbon i{
  color: #666666;
  transition: .2s;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  user-select: none;
}

.ribbon i:hover{
  color: #aaaaaa;
  transition: .2s;
  cursor: pointer;
}

.ribbon i:active{
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .4);
}


.ribbon.show{
  transition: width .5s ease;
  width: 200px;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.404);
}

.ribbon.show i{
  transition: opacity .5s ease;
  transition-delay: .25s;
  opacity: 100;
}

.ribbon.hide i{
  transition: opacity .25s ease, visibility 1s linear 1s;
  transition-delay: visibility .6s;
  visibility: collapse;
  opacity:0;

}

.ribbon.hide{
  transition: .5s ease;
  transition-delay: .1s;
  width: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.page-tab{
  padding: 10px;
  border-bottom: 1px #ccc solid;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
}

.page-tab:hover{
  background-color: #eeeeee;
}

.page-tab:active{
  background-color: #dddddd;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.404);
}

.element-insert{
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.404);
  width: 25px;
  text-align: center;
  background-color: #eeeeee
}

.element-wrapper{
  cursor: pointer;
  user-select: none;
}

.component-title{
  padding: 20px;
  margin: 0;
  border-bottom: 1px #ccc solid;
  background-color: rgb(85, 199, 81);
  color: white;
}
