.App {
  text-align: center;
}

.material-icons{
  margin: 5px;
}

.ribbon{
  position: absolute;
  width: 42px;
  background-color: rgb(85, 199, 81);
  overflow: hidden;
}

.ribbon i{
  color: #666666;
  transition: .2s;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  user-select: none;
}

.ribbon i:hover{
  color: #aaaaaa;
  transition: .2s;
  cursor: pointer;
}

.ribbon i:active{
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .4);
}


.ribbon.show{
  transition: height .5s ease;
  height: 220px;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.404);
}

.ribbon.show i{
  transition: opacity .5s ease;
  transition-delay: .25s;
  opacity: 100;
}

.ribbon.hide i{
  transition: opacity .25s ease, visibility 1s linear 1s;
  transition-delay: visibility .6s;
  visibility: collapse;
  opacity:0;

}

.ribbon.hide{
  transition: .5s ease;
  transition-delay: .1s;
  height: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.page-tab{
  padding: 5px;
  padding-left: 15px;
  border-bottom: 1px #ccc solid;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  
  color: #333;
  text-align: left;
}

.page-tab:hover{
  background-color: #eeeeee;
}

.page-tab:active{
  background-color: #dddddd;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.404);
}

.page-child{
  padding: 5px;
  padding-left: 35px;
}

.element-insert{
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.404);
  width: 35px;
  height: 35px;
  margin-left: auto;
  text-align: center;
  border-radius: 100%;
  text-align: center;
  background-color: rgb(85, 199, 81);
  color: white;
}

.element-wrapper{
  cursor: pointer;
  user-select: none;
}

.component-title{
  padding: 20px;
  margin: 0;
  border-bottom: 1px #ccc solid;
  background-color: rgb(85, 199, 81);
  color: white;
}

.login-card{
  width: 35%;
  height: 250px;
  background-color: rgb(85, 199, 81);
  color: white;
  margin: auto;
  position: relative;
  top: 20%;
  min-width: 250px;
  border-radius: 2px;
  /* box-shadow: 0 0 2px 0 #444; */
}

.login-content{
  position: relative;
  top: 30px;
  bottom: 25px;
  text-align: center;
}

.login-content h2{
  vertical-align: center;
  margin: 15px;
}

.login-content input{
  display: block;
  border-radius: 2px;
  border: none;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.login-content input:hover{ 
  box-shadow: 0 0 2px 0 blue;
}

.login-content input:focus{
  box-shadow: 0 0 2px 0 blue;
}

.login-content label{
  display:block;
  margin: 10px;
}

.submit{
  width: 100px;
  display: block;
  margin-top: 15px;
  height: 25px;
}

.admin-link{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

nav{
  background-color: #444;
  text-align: left;
  color: white;
  line-height: 1;
  vertical-align: middle;
}

nav a{
  margin: 5px;
}

nav a:hover{
  cursor: pointer;
}

.attribute-field {
  flex: 10;
  display: flex;
  margin: 8px;
  justify-content: space-between;
}

.attribute-field-name {
  flex: 4;
  align-self: center;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

.attribute-field-value {
  flex: 6;
  font-size: 14px;
}

.attribute-field-value-color {
  flex: 2;
}